* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
}

li {
  list-style: none;
}

.row {
  display: flex;
}

.box {
  margin: 0.5px;
  width: 75px;
  height: 75px;
  background-color: black;
  border-color: black;
}

.box:nth-child(even) {
  background-color: beige;
}
